/* .ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
} */
.ul {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  max-width: 690px;
  margin: 10px 10px 10px 24%;
  justify-content: space-between;
}
