.input {
  width: 90%;
  background-color: rgb(226, 237, 242);
  box-shadow: inset 1px 1px 3px 0px rgba(134, 134, 134, 0.21);
  border: 1px solid #c5c5c5;
}
.container {
  width: 90%;
  top: 50%;
  left: 50%;
  background: rgb(212, 242, 246);
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 500px;
  transform: translate(-50%, -50%);
}

#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 30px;
  padding: 12px;
  color: rgb(3, 12, 69);
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  background-color: rgb(221, 249, 252);
}

#newtask input:focus {
  outline: none;
  border-color: #6583e5;
}
#newtask button {
  position: relative;
  margin-right: 25px;
  font-size: 16px;
  background-color: #cb9ffa;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 15%;
  height: 56px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
