.header {
  display: flex;
  justify-content: space-around;
  border: none;
  padding: 15px;
  width: 100%;
  height: 4vh;
  position: sticky;
  top: 0;
  font-size: large;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(150, 189, 235, 1) 100%
  );
}
