.headerWrapper {
  width: 80%;
  top: 10%;
  left: 10%;
  background-color: #6583e5;
  border-radius: 10px;
  min-width: 150px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  height: 55px;
  align-items: center;
  /* transform: translate(-50%, -50%); */
}
.headerButton {
  position: relative;
  font-size: 16px;
  background-color: #cb9ffa;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  width: 15%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
/*
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 10px 20px;
  background-color: #6583e5;
  height: 35px;
  border-radius: 5px;
  position: absolute;
  */
